@import "../abstracts/variables";
.hero{
    background-image: url("../assets/hero_background.webp");
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 583px;
    gap: 15px;
    .hero-title{
        font-size: 48px;
        font-weight: 800;
        line-height: 60px;
        width: 40%;
    }
    .hero-text{
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        width: 40%;
    }
    .hero-footer{
        display: flex;
        gap: 15px;
        margin-top: 40px;
        .email-input{
            border: 2px solid #BBC8D4;
            outline: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
            width: 320px;
            font-family: "Mulish", sans-serif;
            padding: 0px 15px;
        }
        .hero-button{
            color: white;
            background-color: #F64C72;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            height: 55px;
            width: 165px;
        }
    }
    @media (max-width: 1024px) {
        padding: 4rem 1rem;
        .hero-title{
            font-size: 45px;
            width: 80%;
        }
        .hero-text{
            font-size: 18px;
            width: 70%;
        }
        .hero-footer{
            flex-direction: column;
            align-items: center;
            gap: 15px;
            margin-top: 20px;
            .email-input{
                padding: 0.75rem 2rem;
                font-size: 16px;
            }
            .hero-button{
                padding: 1rem 2rem;
                font-size: 16px;
                width: max-content;
            }
        }
    }
    @media (max-width: 768px) {
    }
}