body {
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 0;
}
body .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

body {
  font-family: "Open Sans", sans-serif;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0rem 2rem 0rem;
}
body header .header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
body header .header-top .nav-logo {
  height: 100px;
  width: 100px;
}
body header .nav-links {
  display: flex;
  gap: 2rem;
}
body header .nav-links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: #553D67;
}
body header .nav-toggle {
  display: none;
  background-color: white;
  border: none;
  outline: none;
}
body header .nav-toggle img {
  height: 50px;
  width: 50px;
}
@media (max-width: 768px) {
  body header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  body header .header-top .nav-logo {
    height: 50px;
    width: 50px;
  }
  body header .nav-name {
    display: none;
  }
  body header .nav-links {
    display: none;
  }
  body header .nav-toggle {
    display: block;
  }
}
body main .hero {
  background-image: url("../assets/hero_background.webp");
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 583px;
  gap: 15px;
}
body main .hero .hero-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  width: 40%;
}
body main .hero .hero-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  width: 40%;
}
body main .hero .hero-footer {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}
body main .hero .hero-footer .email-input {
  border: 2px solid #BBC8D4;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  width: 320px;
  font-family: "Mulish", sans-serif;
  padding: 0px 15px;
}
body main .hero .hero-footer .hero-button {
  color: white;
  background-color: #F64C72;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  height: 55px;
  width: 165px;
}
@media (max-width: 1024px) {
  body main .hero {
    padding: 4rem 1rem;
  }
  body main .hero .hero-title {
    font-size: 45px;
    width: 80%;
  }
  body main .hero .hero-text {
    font-size: 18px;
    width: 70%;
  }
  body main .hero .hero-footer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  body main .hero .hero-footer .email-input {
    padding: 0.75rem 2rem;
    font-size: 16px;
  }
  body main .hero .hero-footer .hero-button {
    padding: 1rem 2rem;
    font-size: 16px;
    width: -moz-max-content;
    width: max-content;
  }
}
body main .about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  padding-bottom: 3rem;
}
body main .about-us .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  box-shadow: 0px 10px 15px 0px rgba(126, 97, 97, 0.2509803922);
  position: relative;
  top: -50px;
  background-color: white;
  width: 961px;
  height: 634px;
  border-radius: 5px;
}
body main .about-us .wrapper .about-header .about-heading {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 70px;
  color: #553D67;
  display: inline-block;
  position: relative;
  text-wrap: nowrap;
  padding: 1rem;
}
body main .about-us .wrapper .about-header .about-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 3px solid #F64C72;
}
@media (max-width: 768px) {
  body main .about-us .wrapper .about-header .about-heading {
    font-size: 30;
  }
}
@media (max-width: 480px) {
  body main .about-us .wrapper .about-header .about-heading {
    font-size: 28px;
  }
}
body main .about-us .wrapper .about-content {
  text-align: center;
  color: #6D7D8B;
  width: 75%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
body main .about-us .wrapper .about-content .about-text {
  margin: 1rem;
}
body main .about-us .wrapper .timeline {
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  width: 100%;
  height: 119px;
}
@media (max-width: 900px) {
  body main .about-us .wrapper {
    width: 100%;
  }
  body main .about-us .about-content {
    width: 100%;
  }
  body main .about-us .about-content .about-text {
    margin: 1rem 0rem;
  }
}
@media (max-width: 768px) {
  body main .about-us {
    flex-direction: column;
  }
  body main .about-us .timeline {
    display: none;
  }
}
body main .about-us-cards {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  position: relative;
  z-index: 3;
}
body main .about-us-cards .about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 15px 0px rgba(6, 0, 0, 0.2509803922);
  box-sizing: border-box;
  gap: 10px;
  background-color: white;
  height: 297px;
  width: 367px;
  flex-shrink: 1;
  border-radius: 5px;
}
body main .about-us-cards .about-card .about-card-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  color: #553D67;
  font-family: "Mulish", sans-serif;
}
body main .about-us-cards .about-card .about-card-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(73, 92, 118, 0.6980392157);
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1024px) {
  body main .about-us-cards {
    flex-direction: column;
    align-items: center;
  }
}
body main .acheivements {
  background-color: #F64C72;
  color: white;
  font-family: "Mulish", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 8rem 0rem 4rem 0rem;
  position: relative;
  top: -60px;
}
body main .acheivements .acheivements-title {
  font-size: 40px;
  font-weight: 700px;
}
body main .acheivements .acheivements-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  width: 50%;
}
body main .acheivements .acheivements-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
}
body main .acheivements .acheivements-list .acheivement .acheivement-value {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  font-family: "Mulish", sans-serif;
}
body main .acheivements .acheivements-list .acheivement .acheivement-tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1024px) {
  body main .acheivements {
    top: -40px;
    padding: 4rem 0rem 4rem 0rem;
  }
  body main .acheivements .acheivements-title {
    font-size: 30px;
  }
  body main .acheivements .acheivements-text {
    width: 90%;
  }
  body main .acheivements .acheivements-list {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  body main .acheivements .acheivements-list .acheivement {
    padding: 1rem;
  }
  body main .acheivements .acheivements-list .acheivement .acheivement-value {
    font-size: 33px;
  }
  body main .acheivements .acheivements-list .acheivement .acheivement-tag {
    font-size: 12px;
  }
}
body main .section-3 {
  padding: 0rem 0rem 8rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body main .section-3 .section-3-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
body main .section-3 .section-3-header .section-3-heading {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 70px;
  color: #553D67;
  display: inline-block;
  position: relative;
  text-wrap: nowrap;
}
body main .section-3 .section-3-header .section-3-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 3px solid #F64C72;
}
@media (max-width: 768px) {
  body main .section-3 .section-3-header .section-3-heading {
    font-size: 30;
  }
}
@media (max-width: 480px) {
  body main .section-3 .section-3-header .section-3-heading {
    font-size: 28px;
  }
}
body main .section-3 .section-3-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0rem 5rem;
}
body main .section-3 .section-3-cards .section-3-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  box-shadow: 0px 10px 15px 0px rgba(101, 90, 90, 0.2509803922);
  padding: 2rem 1rem;
  box-sizing: border-box;
  height: 375px;
  width: 390px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 1;
}
body main .section-3 .section-3-cards .section-3-card .section-3-card-img {
  height: 105px;
  width: 105px;
}
body main .section-3 .section-3-cards .section-3-card .section-3-card-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  color: #553D67;
  font-family: "Mulish", sans-serif;
}
body main .section-3 .section-3-cards .section-3-card .section-3-card-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(73, 92, 118, 0.6980392157);
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1300px) {
  body main .section-3 .section-3-cards {
    padding: 0rem;
    grid-template-columns: repeat(2, 1fr);
  }
  body main .section-3 .section-3-cards .section-3-card {
    height: 385px;
    width: 350px;
  }
}
@media (max-width: 1024px) {
  body main .section-3 {
    box-sizing: border-box;
  }
  body main .section-3 .section-3-cards {
    padding: 0rem;
    grid-template-columns: repeat(2, 1fr);
  }
  body main .section-3 .section-3-cards .section-3-card {
    height: 385px;
    width: 367px;
  }
}
@media (max-width: 768px) {
  body main .section-3 {
    padding: 2rem;
  }
  body main .section-3 .section-3-cards {
    grid-template-columns: 1fr;
  }
}
body main .section-4 {
  display: flex;
  height: 100%;
  font-family: "Mulish", sans-serif;
  background-color: #F64C72;
}
body main .section-4 .section-4-image {
  height: 670px;
  width: 720px;
}
body main .section-4 .section-4-right {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 0rem 2rem;
}
body main .section-4 .section-4-right .section-4-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
body main .section-4 .section-4-right .section-4-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
body main .section-4 .section-4-right .section-4-button {
  font-family: inherit;
  background-color: inherit;
  color: white;
  border: 2px solid white;
  width: 186px;
  height: 56px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 1024px) {
  body main .section-4 {
    grid-template-columns: 1fr;
  }
  body main .section-4 .section-4-image {
    display: none;
  }
  body main .section-4 .section-4-right {
    padding: 3rem 1rem;
  }
  body main .section-4 .section-4-right .section-4-title {
    font-size: 30px;
  }
}
body main .section-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}
body main .section-5 .section-5-header .section-5-heading {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 70px;
  color: #553D67;
  display: inline-block;
  position: relative;
  text-wrap: nowrap;
  font-size: 36px;
}
body main .section-5 .section-5-header .section-5-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 3px solid #F64C72;
}
@media (max-width: 768px) {
  body main .section-5 .section-5-header .section-5-heading {
    font-size: 30;
  }
}
@media (max-width: 480px) {
  body main .section-5 .section-5-header .section-5-heading {
    font-size: 28px;
  }
}
body main .section-5 .section-5-cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
body main .section-5 .section-5-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  max-width: 100%;
  padding: 0rem 1rem 5rem 2rem;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body main .section-5 .section-5-cards .section-5-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 10px 15px 0px rgba(101, 90, 90, 0.2509803922);
  height: 450px;
  width: 337px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
body main .section-5 .section-5-cards .section-5-card .section-5-card-img {
  height: 248px;
  width: 337px;
}
body main .section-5 .section-5-cards .section-5-card .section-5-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
  padding: 1rem;
}
body main .section-5 .section-5-cards .section-5-card .section-5-card-content .section-5-card-title {
  color: #553D67;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  font-family: "Mulish", sans-serif;
}
body main .section-5 .section-5-cards .section-5-card .section-5-card-content .section-5-card-info {
  color: #553D67;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  font-family: "Mulish", sans-serif;
}
body main .section-5 .section-5-cards .section-5-card .section-5-card-content .section-5-card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #697694;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1024px) {
  body main .section-5 .section-5-cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0rem;
  }
}
body main .section-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  overflow: hidden;
}
body main .section-6 .section-6-header {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 70px;
  color: #553D67;
  display: inline-block;
  position: relative;
  text-wrap: nowrap;
  font-size: 36px;
}
body main .section-6 .section-6-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: 3px solid #F64C72;
}
@media (max-width: 768px) {
  body main .section-6 .section-6-header {
    font-size: 30;
  }
}
@media (max-width: 480px) {
  body main .section-6 .section-6-header {
    font-size: 28px;
  }
}
body main .section-6 .section-6-cards::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
body main .section-6 .section-6-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  max-width: 100%;
  padding: 0rem 1rem 5rem 2rem;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body main .section-6 .section-6-cards .section-6-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
  box-shadow: 0px 10px 15px 0px rgba(101, 90, 90, 0.2509803922);
  height: 367px;
  width: 367px;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 8px;
  flex-shrink: 0;
}
body main .section-6 .section-6-cards .section-6-card .section-6-card-img {
  width: 150px;
}
body main .section-6 .section-6-cards .section-6-card .section-6-card-text {
  font-size: 18px;
  font-weight: 400;
  color: #6D7D8B;
  line-height: 30px;
}
body main .section-6 .section-6-cards .section-6-card .section-6-card-footer {
  display: flex;
  justify-content: start;
  gap: 15px;
  height: -moz-max-content;
  height: max-content;
}
body main .section-6 .section-6-cards .section-6-card .section-6-card-footer .section-6-footer-img {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
body main .section-6 .section-6-cards .section-6-card .section-6-card-footer .section-6-footer-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body main .section-6 .section-6-cards .section-6-card .section-6-card-footer .section-6-footer-content .section-6-card-title {
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  body main .section-6 .section-6-cards {
    padding-left: 5rem;
  }
}
@media (max-width: 768px) {
  body main .section-6 {
    padding: 0.5rem;
  }
}
body main .section-7 {
  background-color: #F64C72;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  height: 325px;
}
body main .section-7 .section-7-title {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}
body main .section-7 .section-7-text {
  width: 70%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
}
body main .section-7 .email-input {
  border-radius: 5px;
  width: 267px;
  height: 20px;
  padding: 10px;
  border: 2px solid #BBC8D4;
  outline: none;
  font-size: 16px;
  color: #BBC8D4;
  border-radius: 4px;
  font-family: "Mulish", sans-serif;
}
@media (max-width: 1024px) {
  body main .section-7 {
    gap: 25px;
    height: 396px;
  }
  body main .section-7 .section-7-title {
    text-wrap: wrap;
    text-align: center;
    font-size: 38px;
  }
  body main .section-7 .section-7-text {
    width: 75%;
    font-size: 16px;
  }
}
body footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
}
body footer .footer-right {
  display: flex;
  align-items: baseline;
}
body footer .footer-right a {
  padding: 0px 1rem;
  text-decoration: none;
}
body footer .footer-right a img {
  height: 30px;
  width: 30px;
}
@media (max-width: 1024px) {
  body footer {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */